<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word and Meaning</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/word_learner.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/nav_bar.css')}}">
<body>
    <nav class="nav_bar">
        <div class="left-section">
            <div class="nav_logo">
                <img src="{{url_for('static',filename='img/logo_png.png')}}" width="50" height="45">
            </div>
            <a id="home_link" href="/"><div class="nav_title"> Rabbit</div></a>

        </div>
    <div class="right-section">
        <div class="nav_items"> <a id="home_link"href="/">Home</a></div>
        <div class="nav_items"> <a id="home_link"href="test.html">Documentation</a></div>
        <div class="nav_items"> <a id="home_link"href="/team">Team</a></div>
        <div class="nav_items"> <a id="home_link"href="/about">About</a></div>
    </div>
</nav>
    <div class="container">
        <div class="word-container">

            <h1 class="word">
                    {{rand}}
            </h1>
            <p class="meaning">{{meaning}}</p>
            {% if synonym %}
            <div class="paryay">
                <h2 class="attributes">Synonyms:</h2>
                <p class="syn">{{ synonym }}</p>
            </div>
            {% endif %}
    
            <!-- Antonyms -->
            {% if antonym %}
            <div class="vyatirekh">
                <h2 class="attributes">Antonyms:</h2>
                <p class="ant">{{ antonym }}</p>
            </div>
            {% endif %}
            <form action="/word_learner" >
        <button class="clss"><img class="img"src="{{url_for('static',filename='img/icons8-restart.svg')}}" alt="no" width="25"></button>
               </form>
        </div>
    </div>

</body>
</html>